<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

  <head th:replace="~{import :: head}"></head>


  <body>


    <div id="page-wraper">


      <!-- Sidebar Menu -->
      <div th:replace="~{navigation :: nav}"></div>




      <!--第一栏，关于我-->
      <section class="section about-me" data-section="section1">
        <div class="container">

          <!--用户发信息给我成功时会弹出-->
          <div class="alert alert-info col-lg-12 col-md-12 col-sm-12 col-xs-12" th:if="${info!=null}"  th:text="${info}" ></div>

          <div class="section-heading">
            <h2>我是谁了？</h2>
            <div class="line-dec"></div>

            <span>我也不知道我是谁，在别人眼里，我似乎是，一名科研工作人员，一名工程师，一名ACG爱好者，一名家里蹲，一名中二病晚期患者.......
              但是我自己又是如何看待自己的了？我想我或许是一个希望探索宇宙本质，事物根源的宗教信徒吧</span>

          </div>



        </div>
      </section>





      <!--第二栏，我的教育-->
      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>我的修行地</h2>
            <div class="line-dec"></div>
            <span
              >我是在这里进行修行的</span
            >
          </div>



          <div  th:each="backPage,indexState : ${backPages}" th:class="${indexState.index%2}==0?'left-image-post':'right-image-post'">


            <!--左右交替进行显示-->


            <div class="row" th:if="${indexState.index%2}==0">

              <!--图片-->
              <div class="col-md-6">
                <div th:class="${indexState.index%2}==0?'left-image':'right-image'">
                  <img th:src="${backPage.getImag()}" alt="" />
                </div>
              </div>

              <!--简介-->
              <div class="col-md-6">
                <div th:class="${indexState.index%2}==0?'right-text':'left-text'">
                  <h4 th:text="${backPage.getTitle()}"></h4>
                  <p th:text="${backPage.getDescript()}"></p>

                  <div class="white-button">
                    <a th:href="@{/page(path=${backPage.getId()})}">Read More</a>
                  </div>
                </div>
              </div>

            </div>


            <div class="row" th:if="${indexState.index%2}!=0">

              <!--简介-->
              <div class="col-md-6">
                <div th:class="${indexState.index%2}==0?'right-text':'left-text'">
                  <h4 th:text="${backPage.getTitle()}"></h4>
                  <p th:text="${backPage.getDescript()}"></p>
                  <div class="white-button">
                    <a th:href="@{/page(path=${backPage.getId()})}">Read More</a>
                  </div>
                </div>
              </div>

              <!--图片-->
              <div class="col-md-6">
                <div th:class="${indexState.index%2}!=0?'left-image':'right-image'">
                  <img th:src="${backPage.getImag()}" alt="" />
                </div>
              </div>



            </div>




          </div>




        </div>
      </section>








      <!--第三栏，我的项目-->
      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>我的项目</h2>
            <div class="line-dec"></div>
            <span>本人主要负责软件上层系统的开发，本科与硕士的所有项目如下</span>
          </div>
          <div class="row">
            <div class="isotope-wrapper">




              <!--<form class="isotope-toolbar">-->

                <!--<label-->
                  <!--&gt;<input-->
                    <!--type="radio"-->
                    <!--data-type="*"-->
                    <!--checked=""-->
                    <!--name="isotope-filter"-->
                  <!--/>-->
                  <!--<span>所有项目</span></label-->
                <!--&gt;-->

                <!--<label-->
                  <!--&gt;<input-->
                    <!--type="radio"-->
                    <!--data-type="people"-->
                    <!--name="isotope-filter"-->
                  <!--/>-->
                  <!--<span>硕士项目</span></label-->
                <!--&gt;-->

                <!--<label-->
                  <!--&gt;<input-->
                    <!--type="radio"-->
                    <!--data-type="nature"-->
                    <!--name="isotope-filter"-->
                  <!--/>-->
                  <!--<span>本科项目</span></label-->
                <!--&gt;-->

                <!--<label-->
                  <!--&gt;<input-->
                    <!--type="radio"-->
                    <!--data-type="animals"-->
                    <!--name="isotope-filter"-->
                  <!--/>-->
                  <!--<span>游戏类</span></label-->
                <!--&gt;-->

                <!--<label-->
                <!--&gt;<input-->
                        <!--type="radio"-->
                        <!--data-type="animals"-->
                        <!--name="isotope-filter"-->
                <!--/>-->
                  <!--<span>网站类</span></label-->
                <!--&gt;-->

                <!--<label-->
                <!--&gt;<input-->
                        <!--type="radio"-->
                        <!--data-type="animals"-->
                        <!--name="isotope-filter"-->
                <!--/>-->
                  <!--<span>监控系统</span></label-->
                <!--&gt;-->


                <!--<label-->
                <!--&gt;<input-->
                        <!--type="radio"-->
                        <!--data-type="animals"-->
                        <!--name="isotope-filter"-->
                <!--/>-->
                  <!--<span>大数据与机器学习类</span></label-->
                <!--&gt;-->

              <!--</form>-->






              <!--<div class="isotope-box">-->
                <!---->
                <!--&lt;!&ndash;项目&ndash;&gt;-->
                <!--<div class="isotope-item" data-type="nature" th:each="projectPage : ${projectPagess}">-->

                  <!--<figure class="snip1321">-->
                    <!--<img-->
                            <!--th:src="${projectPage.getImag()}"-->
                            <!--alt="sq-sample26"-->
                    <!--/>-->
                    <!--<figcaption>-->
                      <!--<a th:href="@{/page(path=${projectPage.getId()})}">-->

                        <!--<i class="fa fa-search"></i>-->

                      <!--</a>-->
                      <!--<h4 th:text="${projectPage.getTitle()}"></h4>-->
                      <!--<span th:text="${projectPage.getDescript()}"></span>-->
                    <!--</figcaption>-->
                  <!--</figure>-->

                <!--</div>-->

              <!--</div>-->





              <div class="isotope-box">

                <!--项目-->
                <div class="isotope-item" data-type="nature" th:each="projectPage : ${projectPagess}">

                  <figure class="snip1321">
                    <img
                            th:src="${projectPage.getImag()}"
                            alt="sq-sample26"
                    />
                    <figcaption>
                      <a th:href="@{/page(path=${projectPage.getId()})}">

                        <i class="fa fa-search"></i>

                      </a>
                      <h4 th:text="${projectPage.getTitle()}"></h4>
                      <span th:text="${projectPage.getDescript()}"></span>
                    </figcaption>
                  </figure>

                </div>

              </div>




            </div>
          </div>
        </div>
      </section>






      <!--第4栏，社会活动-->
      <section class="section my-services" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>我的社会活动</h2>
            <div class="line-dec"></div>
            <span
            >我是参与的社会活动</span
            >
          </div>




          <div  th:each="socialPage,indexState : ${socialPages}" th:class="${indexState.first}?'left-image-post':'right-image-post'">

            <!--左右交替进行显示-->

            <div class="row" th:if="${indexState.index%2}==0">


              <div class="col-md-6">
                <div th:class="${indexState.index%2}==0?'left-image':'right-image'">
                  <img th:src="${socialPage.getImag()}" alt="" />
                </div>
              </div>

              <div class="col-md-6">
                <div th:class="${indexState.index%2}==0?'right-text':'left-text'">
                  <h4 th:text="${socialPage.getTitle()}"></h4>
                  <p th:text="${socialPage.getDescript()}">

                  </p>
                  <div class="white-button">
                    <a th:href="@{/page(path=${socialPage.getId()})}">Read More</a>
                  </div>
                </div>
              </div>

            </div>


            <div class="row" th:if="${indexState.index%2}!=0">


              <div class="col-md-6">
                <div th:class="${indexState.index%2}==0?'right-text':'left-text'">
                  <h4 th:text="${socialPage.getTitle()}"></h4>
                  <p th:text="${socialPage.getDescript()}">

                  </p>
                  <div class="white-button">
                    <a th:href="@{/page(path=${socialPage.getId()})}">Read More</a>
                  </div>
                </div>
              </div>


              <div class="col-md-6">
                <div th:class="${indexState.index%2}!=0?'left-image':'right-image'">
                  <img th:src="${socialPage.getImag()}" alt="" />
                </div>
              </div>



            </div>


          </div>



        </div>
      </section>






      <!--第5栏，我的能力-->
      <section class="section about-me" data-section="section5">
        <div class="container">

          <div class="section-heading">
            <h2>我的能力</h2>
            <div class="line-dec"></div>

            <span>主要是工程能力</span>

          </div>



          <div class="row">

            <div class="col-md-6">
              <div class="service-item">
                <div class="first-service-icon service-icon"></div>
                <h4>算法能力</h4>
                <p>
                  了解常见的信号分析与特征提取方法;了解常见的机器学习算法;并且能把 Matlab与Python实现的算法融合到产品中。
                </p>
              </div>
            </div>


            <div class="col-md-6">
            <div class="service-item">
            <div class="second-service-icon service-icon"></div>
            <h4>编码能力</h4>
            <p>
              掌握C、C#、Java、Python等编程语言与相应框架，了解不同技术所适合的业务场景，有不同语言之间的混合开发的经验。
            </p>
            </div>
            </div>


            <div class="col-md-6">
            <div class="service-item">
            <div class="third-service-icon service-icon"></div>
            <h4>框架能力</h4>
            <p>
              了解 Hadoop、Spark、Storm、Kafka、Flume、Hbase、Zookeeper 等大数据生态圈中常见技术的使用。
              了解 Django与Spring Boot。
              了解 Winform+DevExpress。
              了解 MySQL。
            </p>
            </div>
            </div>


            <div class="col-md-6">
            <div class="service-item">
            <div class="fourth-service-icon service-icon"></div>
            <h4>工具使用</h4>
            <p>
            熟练使用Windows，Mac，Ubuntu，Kail等操作系统。熟练使用GitLab等项目管理工具的使用与搭建。
            </p>
            </div>
            </div>



          </div>



        </div>
      </section>





      <!--第6栏，联系我-->
      <section class="section contact-me" data-section="section6">
        <div class="container">
          <div class="section-heading">
            <h2>快来撩我哟～</h2>
            <div class="line-dec"></div>
            <span
              >本人长期接受个人与企业的定制项目，作为一名技术与科研工作人员，欢迎大家与我交流，互相学习。同时作为一名中二病晚期患者，也非常欢迎大家与我探讨宇宙的起源，事物的本质等问题</span
            >
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">




                <form id="contact" action="/contact" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="您的大名..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="您的邮箱..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="邮件标题..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="正文内容..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          提交
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>



    </div>



    <div th:replace="~{import :: script}"></div>



  </body>



</html>
