<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
      rel="stylesheet"
    />

    <title>Reflux HTML CSS Template</title>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="assets/css/fontawesome.css" />
    <link rel="stylesheet" href="assets/css/templatemo-style.css" />
    <link rel="stylesheet" href="assets/css/owl.css" />
    <link rel="stylesheet" href="assets/css/lightbox.css" />
  </head>

  <body>
    <div id="page-wraper">
      <!-- Sidebar Menu -->
      <div class="responsive-nav">
        <i class="fa fa-bars" id="menu-toggle"></i>
        <div id="menu" class="menu">
          <i class="fa fa-times" id="menu-close"></i>
          <div class="container">

            <div class="image">
              <a href="#"><img src="assets/images/author-image.jpg" alt="" /></a>
            </div>

            <div class="author-content">
              <h4>BoBO</h4>
              <span>的ShowTimE</span>
            </div>

            <nav class="main-nav" role="navigation">
              <ul class="main-menu">
                <li><a href="#section1">我是谁</a></li>
                <li><a href="#section2">我的修行地</a></li>
                <li><a href="#section3">我的项目</a></li>
                <li><a href="#section4">社会活动</a></li>
                <li><a href="#section5">我的能力</a></li>
                <li><a href="#section6">联系我</a></li>

              </ul>
            </nav>

            <div class="social-network">
              <ul class="soial-icons">
                <li>
                  <a href="https://fb.com/templatemo"
                    ><i class="fa fa-facebook"></i
                  ></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-linkedin"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-dribbble"></i></a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-rss"></i></a>
                </li>
              </ul>
            </div>


            <!--<div class="copyright-text">-->
              <!--<p>Copyright 2019 Reflux Design - More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></p>-->
            <!--</div>-->


          </div>
        </div>
      </div>




      <!--第一栏，关于我-->
      <section class="section about-me" data-section="section1">
        <div class="container">

          <div class="section-heading">
            <h2>我是谁了？</h2>
            <div class="line-dec"></div>

            <span>我也不知道我是谁，在别人眼里，我似乎是，一名科研工作人员，一名工程师，一名ACG爱好者，一名家里蹲，一名中二病晚期患者.......
              但是我自己又是如何看待自己的了？我想我或许是一个希望探索宇宙本质，事物根源的宗教信徒吧</span>

          </div>




        </div>
      </section>









      <!--第二栏，我的教育-->
      <section class="section my-services" data-section="section2">
        <div class="container">
          <div class="section-heading">
            <h2>我的修行地</h2>
            <div class="line-dec"></div>
            <span
              >我是在这里进行修行的</span
            >
          </div>



          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/cy.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>重庆邮电大学</h4>
                  <p>
                    重庆邮电大学有很好的技术氛围，各个学院会经常与各大大企业一起合作在学校举办各种科技比赛，
                    这对学生动手能力的培养十分有帮助，本人就是在这种氛围中成长起来的，本人主修电气工程机器自动化专业，在专业中学的最好的课程是
                    信号处理与自动控制原理，这也为硕士期间的课题研究打下了基础。此外在那时我沉迷于游戏开发，这也帮助了我编程能力的培养，曾
                    发布过几个小游戏，并且当过兼职讲师，教学游戏开发的编程知识。这4年来非常迷茫，所以不断尝试，参与过很多活动，过的还算挺充实的。
                  </p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>重庆大学</h4>
                  <p>
                    虽然本科进行了很多的尝试，各种技术都会一点，但是都不精通，同时本人对自己当时的现状也不满意，所以希望能让自己成为一个更加优秀的人，然后
                    过上让自己满意的生活，所以就攻读了硕士研究生。重庆大学拥有很好的学术氛围，经常有国外的知名学者来学校进行学术汇报。本人在光电工程学院就读，
                    虽然专业是仪器科学与技术，但是主要从事变压器故障诊断的研究，并且结合了大数据技术与机器学习算法来搭建诊断系统。
                  </p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="assets/images/cd.jpeg" alt="" />
                </div>
              </div>
            </div>
          </div>







        </div>
      </section>









		<!--<div class="tlinks">Collect from <a href="http://www.cssmoban.com/" >建站模板</a></div>-->




      <!--第三栏，我的项目-->
      <section class="section my-work" data-section="section3">
        <div class="container">
          <div class="section-heading">
            <h2>我的项目</h2>
            <div class="line-dec"></div>
            <span>本人主要负责软件上层系统的开发，本科与硕士的所有项目如下</span>
          </div>
          <div class="row">
            <div class="isotope-wrapper">

              <form class="isotope-toolbar">

                <label
                  ><input
                    type="radio"
                    data-type="*"
                    checked=""
                    name="isotope-filter"
                  />
                  <span>所有项目</span></label
                >

                <label
                  ><input
                    type="radio"
                    data-type="people"
                    name="isotope-filter"
                  />
                  <span>硕士项目</span></label
                >

                <label
                  ><input
                    type="radio"
                    data-type="nature"
                    name="isotope-filter"
                  />
                  <span>本科项目</span></label
                >

                <label
                  ><input
                    type="radio"
                    data-type="animals"
                    name="isotope-filter"
                  />
                  <span>游戏类</span></label
                >

                <label
                ><input
                        type="radio"
                        data-type="animals"
                        name="isotope-filter"
                />
                  <span>网站类</span></label
                >

                <label
                ><input
                        type="radio"
                        data-type="animals"
                        name="isotope-filter"
                />
                  <span>监控系统</span></label
                >


                <label
                ><input
                        type="radio"
                        data-type="animals"
                        name="isotope-filter"
                />
                  <span>大数据与机器学习类</span></label
                >

              </form>

              <div class="isotope-box">


                <!--第一个项目-->
                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="assets/images/portfolio-01.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/portfolio-01.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>变压器项目</h4>
                      <span>free to use our template</span>
                    </figcaption>
                  </figure>
                </div>


                <!--第二个项目-->
                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="assets/images/portfolio-02.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/portfolio-02.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>危险品物流项目</h4>
                      <span>please tell your friends</span>
                    </figcaption>
                  </figure>
                </div>


                <!--第三个项目-->
                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="assets/images/portfolio-03.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/portfolio-03.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>实验室网站</h4>
                      <span>customize anything</span>
                    </figcaption>
                  </figure>
                </div>


                <!--第四个项目-->
                <div class="isotope-item" data-type="people">
                  <figure class="snip1321">
                    <img
                      src="assets/images/portfolio-04.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/portfolio-04.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>个人论坛</h4>
                      <span>Re-distribution not allowed</span>
                    </figcaption>
                  </figure>
                </div>

                <!--第五个项目-->
                <div class="isotope-item" data-type="nature">
                  <figure class="snip1321">
                    <img
                      src="assets/images/portfolio-05.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/portfolio-05.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>第一人称射击游戏</h4>
                      <span>Ut sollicitudin risus</span>
                    </figcaption>
                  </figure>
                </div>

                <!--第五个项目-->
                <div class="isotope-item" data-type="animals">
                  <figure class="snip1321">
                    <img
                      src="assets/images/portfolio-06.jpg"
                      alt="sq-sample26"
                    />
                    <figcaption>
                      <a
                        href="assets/images/portfolio-06.jpg"
                        data-lightbox="image-1"
                        data-title="Caption"
                        ><i class="fa fa-search"></i
                      ></a>
                      <h4>跑酷游戏</h4>
                      <span>Donec eget massa ante</span>
                    </figcaption>
                  </figure>
                </div>


              </div>
            </div>
          </div>
        </div>
      </section>






      <!--第4栏，社会活动-->
      <section class="section my-services" data-section="section4">
        <div class="container">
          <div class="section-heading">
            <h2>我的社会活动</h2>
            <div class="line-dec"></div>
            <span>我是参与过这些社会活动</span>
          </div>



          <div class="left-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-image">
                  <img src="assets/images/cy.png" alt="" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-text">
                  <h4>蛮牛教育兼职讲师</h4>
                  <p>
                    重庆邮电大学有很好的技术氛围，各个学院会经常与各大大企业一起合作在学校举办各种科技比赛，
                    这对学生动手能力的培养十分有帮助，本人就是在这种氛围中成长起来的，本人主修电气工程机器自动化专业，在专业中学的最好的课程是
                    信号处理与自动控制原理，这也为硕士期间的课题研究打下了基础。此外在那时我沉迷于游戏开发，这也帮助了我编程能力的培养，曾
                    发布过几个小游戏，并且当过兼职讲师，教学游戏开发的编程知识。这4年来非常迷茫，所以不断尝试，参与过很多活动，过的还算挺充实的。
                  </p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="right-image-post">
            <div class="row">
              <div class="col-md-6">
                <div class="left-text">
                  <h4>泰克在线兼职讲师</h4>
                  <p>
                    虽然本科进行了很多的尝试，各种技术都会一点，但是都不精通，同时本人对自己当时的现状也不满意，所以希望能让自己成为一个更加优秀的人，然后
                    过上让自己满意的生活，所以就攻读了硕士研究生。重庆大学拥有很好的学术氛围，经常有国外的知名学者来学校进行学术汇报。本人在光电工程学院就读，
                    虽然专业是仪器科学与技术，但是主要从事变压器故障诊断的研究，并且结合了大数据技术与机器学习算法来搭建诊断系统。
                  </p>
                  <div class="white-button">
                    <a href="#">Read More</a>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="right-image">
                  <img src="assets/images/cd.jpeg" alt="" />
                </div>
              </div>
            </div>
          </div>







        </div>
      </section>






      <!--第5栏，我的能力-->
      <section class="section about-me" data-section="section5">
        <div class="container">

          <div class="section-heading">
            <h2>我的能力</h2>
            <div class="line-dec"></div>

            <span>我也不知道我是谁，在别人眼里，我似乎是，一名科研工作人员，一名工程师，一名ACG爱好者，一名家里蹲，一名中二病晚期患者.......
              但是我自己又是如何看待自己的了？我想我或许是一个希望探索宇宙本质，事物根源的宗教信徒吧</span>

          </div>



          <div class="row">
          <div class="col-md-6">
          <div class="service-item">
          <div class="first-service-icon service-icon"></div>
          <h4>HTML5 &amp; CSS3</h4>
          <p>
          Phasellus non convallis dolor. Integer tempor hendrerit arcu
          at bibendum. Sed ac ante non metus vehicula congue quis eget
          eros.
          </p>
          </div>
          </div>
          <div class="col-md-6">
          <div class="service-item">
          <div class="second-service-icon service-icon"></div>
          <h4>Creative Ideas</h4>
          <p>
          Proin lacus massa, eleifend sed fermentum in, dignissim vel
          metus. Nunc accumsan leo nec felis porttitor, ultricies
          faucibus purus mollis.
          </p>
          </div>
          </div>
          <div class="col-md-6">
          <div class="service-item">
          <div class="third-service-icon service-icon"></div>
          <h4>Easy Customize</h4>
          <p>
          Integer suscipit condimentum aliquet. Nam quis risus metus.
          Nullam faucibus quam eget arcu pretium tincidunt. Nam libero
          dui.
          </p>
          </div>
          </div>
          <div class="col-md-6">
          <div class="service-item">
          <div class="fourth-service-icon service-icon"></div>
          <h4>Admin Dashboard</h4>
          <p>
          Vivamus et dui a massa venenatis fringilla. Proin lacus massa,
          eleifend sed fermentum in, dignissim vel metus. Nunc accumsan
          leo nec felis porttitor.
          </p>
          </div>
          </div>
          </div>



        </div>
      </section>





      <!--第6栏，联系我-->
      <section class="section contact-me" data-section="section6">
        <div class="container">
          <div class="section-heading">
            <h2>快来撩我哟～</h2>
            <div class="line-dec"></div>
            <span
              >本人长期接受个人与企业的定制项目，作为一名技术与科研工作人员，欢迎大家与我交流，互相学习。同时作为一名中二病晚期患者，也非常欢迎大家与我探讨宇宙的起源，事物的本质等问题</span
            >
          </div>
          <div class="row">
            <div class="right-content">
              <div class="container">
                <form id="contact" action="" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="name"
                          type="text"
                          class="form-control"
                          id="name"
                          placeholder="Your name..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-6">
                      <fieldset>
                        <input
                          name="email"
                          type="text"
                          class="form-control"
                          id="email"
                          placeholder="Your email..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <input
                          name="subject"
                          type="text"
                          class="form-control"
                          id="subject"
                          placeholder="Subject..."
                          required=""
                        />
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <textarea
                          name="message"
                          rows="6"
                          class="form-control"
                          id="message"
                          placeholder="Your message..."
                          required=""
                        ></textarea>
                      </fieldset>
                    </div>
                    <div class="col-md-12">
                      <fieldset>
                        <button type="submit" id="form-submit" class="button">
                          Send Message
                        </button>
                      </fieldset>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>



    </div>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
      //according to loftblog tut
      $(".main-menu li:first").addClass("active");

      var showSection = function showSection(section, isAnimate) {
        var direction = section.replace(/#/, ""),
          reqSection = $(".section").filter(
            '[data-section="' + direction + '"]'
          ),
          reqSectionPos = reqSection.offset().top - 0;

        if (isAnimate) {
          $("body, html").animate(
            {
              scrollTop: reqSectionPos
            },
            800
          );
        } else {
          $("body, html").scrollTop(reqSectionPos);
        }
      };

      var checkSection = function checkSection() {
        $(".section").each(function() {
          var $this = $(this),
            topEdge = $this.offset().top - 80,
            bottomEdge = topEdge + $this.height(),
            wScroll = $(window).scrollTop();
          if (topEdge < wScroll && bottomEdge > wScroll) {
            var currentId = $this.data("section"),
              reqLink = $("a").filter("[href*=\\#" + currentId + "]");
            reqLink
              .closest("li")
              .addClass("active")
              .siblings()
              .removeClass("active");
          }
        });
      };

      $(".main-menu").on("click", "a", function(e) {
        e.preventDefault();
        showSection($(this).attr("href"), true);
      });

      $(window).scroll(function() {
        checkSection();
      });
    </script>
  </body>
</html>
